<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_EmailAttachments>
            <version>0.11.2</version>
            <depends>
            </depends>
        </Fooman_EmailAttachments>
    </modules>

    <global>
        <models>
            <emailattachments>
                <class>Fooman_EmailAttachments_Model</class>
            </emailattachments>
            <core>
                <rewrite>
                    <email_template_mailer>Fooman_EmailAttachments_Model_Core_Email_Template_Mailer</email_template_mailer>
                    <email_queue>Fooman_EmailAttachments_Model_Core_Email_Queue</email_queue>
                    <app_emulation>Fooman_EmailAttachments_Model_Core_App_Emulation</app_emulation>
                </rewrite>
            </core>
        </models>
        <blocks>
            <emailattachments>
                <class>Fooman_EmailAttachments_Block</class>
            </emailattachments>
        </blocks>
        <pdf>
            <order>
                <default>sales/order_pdf_items_invoice_default</default>
                <grouped>sales/order_pdf_items_invoice_grouped</grouped>
                <bundle>emailattachments/order_pdf_bundleItems</bundle>
            </order>
        </pdf>
        <helpers>
            <emailattachments>
                <class>Fooman_EmailAttachments_Helper</class>
            </emailattachments>
        </helpers>
        <events>
            <fooman_emailattachments_before_send_queue>
                <observers>
                    <fooman_emailattachments_before_send_queue>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendQueuedOrder</method>
                    </fooman_emailattachments_before_send_queue>
                </observers>
            </fooman_emailattachments_before_send_queue>
            <aschroder_smtppro_queue_before_send>
                <observers>
                    <fooman_emailattachments_before_send_queue>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendQueuedOrder</method>
                    </fooman_emailattachments_before_send_queue>
                </observers>
            </aschroder_smtppro_queue_before_send>
            <fooman_emailattachments_before_send_order>
                <observers>
                    <fooman_emailattachments_before_send_order>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendOrder</method>
                    </fooman_emailattachments_before_send_order>
                    <fooman_emailattachments_before_send_order2>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>sendPackingSlip</method>
                    </fooman_emailattachments_before_send_order2>
                </observers>
            </fooman_emailattachments_before_send_order>
            <fooman_emailattachments_before_send_invoice>
                <observers>
                    <fooman_emailattachments_before_send_invoice>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendInvoice</method>
                    </fooman_emailattachments_before_send_invoice>
                </observers>
            </fooman_emailattachments_before_send_invoice>
            <fooman_emailattachments_before_send_shipment>
                <observers>
                    <fooman_emailattachments_before_send_shipment>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendShipment</method>
                    </fooman_emailattachments_before_send_shipment>
                </observers>
            </fooman_emailattachments_before_send_shipment>
            <fooman_emailattachments_before_send_creditmemo>
                <observers>
                    <fooman_emailattachments_before_send_creditmemo>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendCreditmemo</method>
                    </fooman_emailattachments_before_send_creditmemo>
                </observers>
            </fooman_emailattachments_before_send_creditmemo>
        </events>
        <template>
            <email>
                <sales_email_order_shipment_template translate="label" module="emailattachments">
                    <label>Packingslip</label>
                    <file>sales/order_new_packingslip.html</file>
                    <type>html</type>
                </sales_email_order_shipment_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <addbutton>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>addbutton</method>
                    </addbutton>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <translate>
            <modules>
                <Fooman_EmailAttachments>
                    <files>
                        <default>Fooman_EmailAttachments.csv</default>
                    </files>
                </Fooman_EmailAttachments>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <emailattachments after="Mage_Adminhtml">Fooman_EmailAttachments_Adminhtml</emailattachments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <sales_email>
            <order>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
                <shipment_template>sales_email_order_shipment_template</shipment_template>
            </order>
            <order_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </order_comment>
            <invoice>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </invoice>
            <invoice_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </invoice_comment>
            <shipment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </shipment>
            <shipment_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </shipment_comment>
            <creditmemo>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </creditmemo>
            <creditmemo_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </creditmemo_comment>
        </sales_email>
    </default>
    <!--<crontab>
        <jobs>
            <emailattachments_updates>
                <schedule><cron_expr>* */8 * * *</cron_expr></schedule>
                <run><model>emailattachments/updates::checkUpdate</model></run>
            </emailattachments_updates>
        </jobs>
    </crontab>-->
    <phpunit>
        <suite>
            <modules>
                <Fooman_EmailAttachments/>
            </modules>
        </suite>
    </phpunit>
</config>
